<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Amount</th>
                        <th scope="col">Price</th>
                        <th scope="col">Buy/Sell</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of orderList">
                            <td>{{order.amount}}</td>
                            <td>{{order.price}}</td>
                            <td>{{order.buySell}}</td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>
